.header{
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    background:rgb(252, 252, 252);
    position: fixed;
    top: 0px;
    width: 100%;
    right: 0px;
    border: radius 5px;
    box-shadow: #ccc 0 0 17px;
    background-attachment: fixed;
}
.logo h1{
    color:rgba(118, 36, 36, 0.8);
    font-size: 30px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 600px;
}
.logo{
    padding: 10px;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    word-spacing: 10px;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    padding: 12px 0;
    font-size: 14px;
    color: rgba(118, 36, 36, 0.8);
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
.header-flex{
    display: flex;
    justify-content: space-evenly;
}
.home-container{
    display: flex;
    flex-direction: column;
    padding: 100px 15px;
    align-items: center;
    opacity: 1;
    background-image: url("../image/pic2.jpg");
}
.home h1{
    font-size: 48px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    text-align: center;
    margin: 0 0 30px 0;

}
.home h2{
    color: rgb(14, 14, 14);
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}
.home-container a{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1;
    padding: 14px 30px;
    border-radius: 6px;
    display: inline-block;
    margin: 10px;
    margin-left: 250px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
    border: 2px solid #fff;
    background-color:rgb(250, 207, 127);
    overflow: visible;   
}
.side-1 img{
    max-width: 70%;
    height: auto;
    margin-left: 100px;
    border-radius: 5px;
     
}
.side-2 h3{
    font-weight: 400;
    font-size: 34px;
    color: #21413c;
}
.side-2 p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.about-flex{
    display: flex;
    padding-top: 70px;
}
.icon-text{
display: flex; 
}
.icon{
    margin-right: 15px;
}
.icon i{
    font-size: 60px;
}
/* .icon i{
    float: left;
    font-size: 48px;
    color: #7fffef;
} */
.steps-flex{
    display: flex;
    flex-wrap: wrap;
    
}
.steps-sec{
    width: 25%;
    padding: 40px;
    border-left: 1px solid #d4e9e6;
    border-bottom: 1px solid #d4e9e6;
    margin: -1px;
}
.steps{
    margin-top: 125px;
    background-color: #f2f9f8;
    padding: 50px 0 40px 0;
}
.steps-flex span{
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #1bac91;
}
.feature-container{
    display: flex;
    padding: 60px 0;
    overflow: hidden;
    margin-left: 65px;
}
.feature-side-1{
    opacity: 1;
    transform: translateZ(0);
    border: 0;
    padding: 20px;
    transition: 0.3s;
    color: #21413c;
}
.services-container{
    background-color: #f2f9f8;
    padding: 60px 0;
    overflow: hidden;
}
.service-heading{
    padding-bottom: 40px;
    text-align: center;
    opacity: 1;
    transform: translateZ(0);
}
.service-options{
    display: flex;
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;   
}
.service-icon {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;
    box-shadow: #ccc 5px;
}
.text-1 p{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.text-2 p{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.text-3 p{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.text-4 p{
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}
.text-1 h3{
    color: #111;
    box-sizing: border-box;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
    text-align: center;
}
.text-2 h3{
    color: #111;
    box-sizing: border-box;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
    text-align: center;
}
.text-3 h3{
    color: #111;
    box-sizing: border-box;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
    text-align: center;
}
.text-4 h3{
    color: #111;
    box-sizing: border-box;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    line-height: 1.2;
    text-align: center;
}
.testimonial{
    padding: 60px 0;
    overflow: hidden;
}
.test-container{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    
}
.test-title{
    padding-bottom: 40px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.test-img img{
    width: 90px;
    border-radius: 50%;
    margin: -15px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #fff;
    padding: 0,0,0,0;
}
.name-1{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: #111;
    box-sizing: border-box; 
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.test-flex{
    display: flex;
    flex-wrap: wrap;
    background-color:#f2f9f8 ;
}
.test-img{
    width: 33%;
}
.port-nav {
    text-decoration: none;
    margin-bottom: 0 auto 15px auto;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}
.port-container{
    background-color: #f2f9f8;
}
.port-head{
    text-align: center;
    opacity: 1;
    transform: translateZ(0);
    padding-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    padding: 15px;
}

.port-nav ul li{
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #444444;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: #fff;
    margin-inline: -9px;
    border-radius: 15px;
}
.port-imgs{
    left: 0px;
    top: 341.987px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.port-1{
    width: 30%;
}
.port-1 img{
    padding-bottom: 15px;
    width: 100%;
    height: auto;   
}
.team-head{
    text-align: center;
    margin: 30px;
}
.team-head h2{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #21413c;
}
.team{
    padding-bottom: 20px;
}
.team p{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.team-img{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-left: 50px;
    text-align: center;
}
.team-img img{
     width: 80%;
}
.faq-container{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

}
.faq{
    background-color: #f2f9f8; 
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.faq-cotent ul li {
    list-style: none;
    text-align: center;
}
.faq-cotent{
    margin-top: 40px;
    flex-direction: column;
}
.content-1{
    margin-top: 40px;
    margin-left: -200px;
    background-color: #fff;
    padding: 13px 7px 10px 3px;
}
.content-2{
    margin-top: 40px;
    margin-left: -224px;
}
.content-3{
    margin-top: 40px;
    margin-left: -246px;
}
.content-4{
    margin-top: 40px;
    margin-left: -36px;
}
.content-5{
    margin-top: 40px;
    margin-left: 76px; 
}
.cont-icon{
display: flex;
}
.cont-head{
    text-align: center;
}
.cont-side1{
    margin-left: 75px;
}